@model vente_en_ligne.Models.Proprietaire

<link href="~/css/deleteproprio.css" rel="stylesheet" />
<main>
    <div class="blur"></div>
    <div class="container">
        <form asp-action="DeleteConfirmed" method="post" >
            <img src="~/img/effacer.png" class="photo"/> 
            <br>
            <input class="datos" type="text" asp-for= "INterID" placeholder="CIN/Passeport">
            <br>
            <br>
            <input class="boton reset" type="submit" value="Delete">
        </form>
    </div>
</main>


