<link href="~/css/modifyproprio.css" rel="stylesheet" />
<script src="~/js/modifyproprio.js"></script>
<form>
	<input name="name" type="text" class="feedback-input" placeholder="CIN/Passeport" />
	<a href="#" type="submit" value="Search" onclick="loadContent('ModifyForm')" class="search">Search</a>
</form>


